body{
    background-color: rgb(240, 182, 96);
}

header{
    display: flex;
    margin: 1%;
    padding: 1%;
    border:solid black;
    border-radius: 3px;
}

main{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    margin: 1%;
    padding: 10px;
    border:solid black;
    border-radius: 3px;
}