body{
    background-color: #f5f5f5;
}

header{
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border:solid black 2px;
    border-radius: 10px;
    background-color: rgb(176, 234, 245);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 1%;
    padding: 10px;
    border:solid black 2px;
    border-radius: 10px;
    background-color: #b0eaf5;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
}

div.nome{
    margin-top: 15px;
}

div.distrito{
    margin-top: 15px;
}

div.titulo{
    margin-top: 15px;
}

a{
    text-decoration:none;
}

#ir-topo{
    color: white;
    background-color: #69c8db;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 3px gray;
}